body {
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    padding: 15px;
    margin: 15px;
    border-radius: 40px;
    width: 80vw;
    min-height: 30vh;
    align-self: center;
}

.form {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;

}

.inputTarea {
    border-radius: 7px;
    border: none;
    height: 30px;
    outline: none;
    margin-bottom: 10px;
}

.agregarButton {
    width: 150px;
    border-radius: 7px;
    border: none;
    padding: 7px;
    margin-bottom: 10px;
    background-color: green;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.borrarButton {
    margin-top: 10px;
    border-radius: 7px;
    border: none;
    padding: 7px;
    width: 200px;
    background-color: darkred;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

label {
    font-weight: 700;
}

@media only screen and (min-width: 700px) {
    .container {
        width: 45vw;
    }
}